* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #000;
    font-size: clamp(32px, 6vw, 64px);
    padding-left: 32px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
